@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 217 91% 60%;
    --chart-2: 0 84% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.card-watchlist,
.navLink {
  scrollbar-color: #141414 #272727;
  scrollbar-width: none;
}

.table-categories {
  scrollbar-color: #141414 #272727;
  scrollbar-width: thin;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#myGrid {
  --ag-header-background-color: #272727;
  --ag-background-color: #141414;
  --ag-foreground-color: #f9f9f9;
  --ag-row-hover-color: #272727;
  --ag-borders: none;
  --ag-wrapper-border-radius: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
